body {
    background-color: black;
    font-family: 'Changa One', cursive;
}

#gameOver {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    color: white;
    -webkit-text-stroke: 3px black;
}